body{
    font-family: 'Poppins', sans-serif;
}
/* /header\ */
header{
    margin-bottom: 50px;
}
.logo{
    display: inline-block;
    margin-top: 10px;
}

.menu{
    
    background-color: rgb(231, 20, 126);
    overflow: hidden;
}

.logo a{
    text-decoration: none;
    padding-left: 20px;
    color: #ffbc05;
    font-size: 24px;
    font-weight: 900;

}
.logo a span{
    color: #00ff40;
    font-weight: 900;
}

.title-blog{
    text-align: center;
}

header ul{
    padding-right: 10px;
    list-style: none;
    overflow: hidden;
    display: flex;
    float: right;
    margin: 0;  
}
header li a{
    display: block;
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: 700;
    text-align: right;
} 

/* second part */
#recipies{ 
     display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    margin-bottom: 30px;

}
.about-item{
    box-shadow: 5px 0px 10px 5px rgb(0 0 0 / 15%);
    border-radius: 20px;
    padding: 20px;
    width: 27%;
    position: relative;
    background: #FFF;
}
.item-part{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.item-part img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    border-image-slice: 1;

}
.second-part{
    height: 800px;
}
.tomato-color{
    color: tomato;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.orange-color{
    background-image: linear-gradient(tomato, salmon);
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
.flexible-container img{
    width: 80%;
    padding-left: 40px;
}
.common-width{
    width: 50%;
    padding-left: 10px;
}
#second-part{
    background-image: url(images/need-image/7.png);
    background-repeat: no-repeat;
}
/* third pard */
.order-menu{
    text-align: center;
}
.menu-item{
    display: flex;
    justify-content: space-around;
    background-color: wheat;
}
.recipies{
    text-align: center;
}

footer{
    background-color: black;
    text-align: center;
}
footer h1 {
    color: blanchedalmond;
}
/* follower part */
#follower-part{
    display: flex;
    padding-left: 40px;
    margin-left: 40px;
    justify-content: space-around;
    background-color: white;
    width: 90%;
    box-shadow: 10px 10px 20px gray;
}
.buttom-color{
    background-image: linear-gradient(tomato, salmon);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
#order-part{
    margin-top: 50px;
}

/* footer part */
#serve-color{
    color: #00ff40;
    font-weight: 900;

}
#food-color {
    color: #ffbc05;
    font-weight: 900;
}